useDynLib("gamsel", .registration = TRUE)
importFrom(utils,head,tail,packageDescription)
importFrom("grDevices", "rainbow")
importFrom("graphics", "abline", "axis", "lines", "plot", "points","rug", "segments", "text")
importFrom("stats", "poly", "polym", "predict", "rbinom", "rnorm")
import(foreach)
import(mda)
export(gamsel, plot.gamsel, print.gamsel,summary.gamsel,predict.gamsel,cv.gamsel,plot.cv.gamsel,pseudo.bases,basis.gen,basis.subset,getActive,gendata,getmin)
S3method("print","gamsel")
S3method("plot","gamsel")
S3method("predict","gamsel")
S3method("plot","cv.gamsel")
S3method("summary","gamsel")


